{% extends "admin/dashboard.html" %}
{% block main %}
    <div class="container">
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>

        <tbody>
          {% for c in cats  %}
          <tr>
            <th scope="row">{{c.id}}</th>
            <td>{{c.name}}</td> 
            <td>{{c.des}}</td>
            {% if c.img1%}
            <td><img src="{{c.img1.url}}" height="60" width="60"></td>
            {% else %}
            <td>No Image Available</td>
            {% endif %}
            <td><a href="{% url 'deletecategory' c.id %}" class="btn btn-danger">Delete</a></td>
          </tr>
          {% endfor %} 
        </tbody>

      </table>
    </div>
{% endblock main %}